name: cnf
channels:
  - defaults
dependencies:
  - python=3.9
  - wandb
  - tqdm
  - torchvision
  - pytorch
  - torchaudio
  - pandas
  - pathlib
  - typing
  - datasets
  - scikit-learn
prefix: /Users/zorilolah/anaconda3/envs/cnf
